.section{
    display: flex;
}

.main1{
    flex-basis: 50%;
    display: flex;
    text-align: center;
    background-color: rgb(117, 80, 151);
    justify-content: center;
    align-items: center;
}

.main2{
    flex-basis: 50%;
    background-color: grey;
}

.child1{
    background-color: plum;
    border: 3px solid black; 
    padding: 10px 20px; 
    margin: 30px; 
}

.class2{
    background-color: violet;
    display: flex;
    text-align: center;
    align-items: center;
    border: 3px solid black; 
    padding: 10px; 
    margin: 40px;
}

.class3{
    background-color: rgb(214, 67, 214);
    display: flex;
    text-align: center;
    align-items: center;
    border: 3px solid black; 
    padding: 10px; 
    margin: 40px;
}

button{
    padding: 10px 40px;
    border-radius: 10px;
}

button:hover{
    padding: 10px 40px;
    text-decoration: none;
    background-color:rgb(98, 158, 158);
    border-radius: 20px;
    display: inline-block;
}